singularity {
    cacheDir = '/data/user/'
    enabled = true
    runOptions = '--nv'
}

conda {
    enabled = true
    useMamba = true
}

process {
    cpus = 8
    executor = 'slurm'
    memory = '16 GB'
    shell = ['/bin/bash', '-euo', 'pipefail']
    withName: 'DORADO' {
        clusterOptions = '--gpus=A100'
        time = { 30.min * params.gigabases }
    }
    withName: 'DEMUX' {
        time = '1h'
    }
}