singularity {
    enabled = true
    runOptions = '--nv'
}

conda {
    enabled = true
    useMamba = true
}

process {
    shell = ['/bin/bash', '-euo', 'pipefail']
}

profiles {
    standard {
        process.cpus = 16
    }

    cluster {
        process.clusterOptions = '--gpus=V100:2'
        process.cpus =  8
        process.executor = 'slurm'
        process.time = { 60.min * params.gigabases }
        singularity.cacheDir = '/data/user/'
    }
}